### Variables

Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program.In Python,Variables are created when you assign a value to them,and they do not need explicit declaration to reserve memory space.The declaration happens automatically when you assign a  value to a variable.

In [1]:
a = 100

In [2]:
## Declaring And Assigning Variables

age = 32
height = 6.1
name = "Krish"
is_student = True


##Printing the variables
print("age:",age)
print("Height:",height)
print("Name:",name)

age: 32
Height: 6.1
Name: Krish

In [ ]:
## Naming Conventions
## Variables names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## Variables names are case sensitive

# Valid variable names

first_name = "Ammu"
last_name  = "Karanji"

In [ ]:
# Invalid variable names
# 2age = 30
#first - name = "Ammu"
#@name = "Ammu"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1576206053.py, line 4)

In [8]:
## Case Sensitivity
name = "Ammu"
Name = "Amulya"

name == Name

False

In [9]:
## Understanding variable types
## Python is dynamically types,type of  a variable determined at runtime
age = 25 #int
height = 6.1 #float
name = "Ammu" #string
is_student = True #boolean
print(type(name))

<class 'str'>

In [10]:
type(height)

float

In [12]:
age = 25
print(type(age))

#Type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [14]:
age = '25'
print(type(int(age)))

<class 'int'>

In [15]:
name = "Ammu"
int(name)

ValueError: invalid literal for int() with base 10: 'Ammu'

In [16]:
height = 6.11
type(height)

float

In [17]:
int(height)

6

In [18]:
float(int(height))

6.0

In [22]:
## Dynamic Typing
## Python allows the type of a variable to change as the program executes
 
var = 10
print(var,type(var)) 

var = 3.14
print(var,type(var))

var = "Ammu"
print(var,type(var))

10 <class 'int'>
3.14 <class 'float'>
Ammu <class 'str'>

In [24]:
## Input

age = input("What is the age: ")
print(age,type(age))

23 <class 'str'>

In [29]:
## Simple Calculator

num1 = int(input("Enter the number"))
num2 = int(input("Enter the number"))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:",sum)
print("Difference:",difference)
print("Product:",product)
print("Quotient:",quotient)

Sum: 6
Difference: -2
Product: 8
Quotient: 0.5