### Datatypes

1.Defination:

+ Data types are a classification of data which tell the      compiler or interpreter how the programmer intends to use  the data.

+ They determine the type of operations the can be performed
on the data ,the values that the data can take, and the    amount of memory neede to store the data.

2.Importance of Data Types in Programming:

Explaination:

+ Datatypes ensure that data is stored in ana efficiency way.
+ They help in performing correct operations on data.
+  Proper use of data types can prevent errors and bugs in the program

In [1]:
## Integer Example
age = 35
type(age)

int

In [6]:
## Floating point datatype
height = 5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [5]:
## String datatype example
name = "Ammu"
print(name)
print(type(name))

Ammu
<class 'str'>

In [8]:
## Boolean datatype example
is_true = True
type(is_true)

bool

In [10]:
bool()

False

In [12]:
a = 10
b = 10
type(a == b)

bool

In [13]:
## Common errors

result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [15]:
result = "Hello" + str(5)
print(result)

Hello5