# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [8]:
tup = tuple(range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

#Print the first, middle, and last elements of the tuple created in Assignment 1.

In [14]:
print(f"First element: {tup[0]}")
print(f"Middle element: {tup[len(tup) // 2]}")
print(f"Last element: {tup[-1]}")

First element: 1
Middle element: 6
Last element: 10

### Assignment 3: Tuple Slicing

#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [15]:
print(f"First three elements: {tup[:3]}")
print(f"Last three elements: {tup[-3:]}")
print(f"Index 2 to 5 elements: {tup[2:6]}")

First three elements: (1, 2, 3)
Last three elements: (8, 9, 10)
Index 2 to 5 elements: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [24]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
    )
print("Matrix: ")
for row in matrix:
    print(row)
print(f"The element at the second row and third column is: {matrix[1][2]}" )

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
The element at the second row and third column is: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [25]:
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
Concatenated_tuple = tup1 + tup2
print(Concatenated_tuple)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [28]:
tup = (1, 2, 2, 3, 4, 4, 4, 5, 6, 6, 1, 7)
print(f"Occurances of 4: {tup.count(4)}")
print(f"Occurances of 4for first time: {tup.index(4)}")

Occurances of 4: 3
Occurances of 4for first time: 4

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [29]:
packed_tup = 1, "ammu", 3.14, True, 22
print(packed_tup)
a, b, c, d, e = packed_tup
print(a)
print(b)
print(c)
print(d)
print(e)

(1, 'ammu', 3.14, True, 22)
1
ammu
3.14
True
22




### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [30]:
lst = [1, 2, 3, 4, 5]
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [33]:
tup = ((1, 2, 3),(4, 5, 6),(7, 8, 9))
print(tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [40]:
tup = (1, 2, 3, 4, 5)
lst = list(tup)
lst.append(6)
tup1 = tuple(lst)
print(tup1)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [1]:
tup = ('a', 'b', 'c', 'd', 'e', 'f')
joined_string = ''.join(tup)
print(joined_string)

abcdef

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [3]:
tup_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9}
print(tup_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [4]:
nested_tup = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
    )
for item in nested_tup:
    for elements in item:
        print(elements)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [6]:
tup = (1, 2, 2, 2, 3, 4, 4, 5, 6, 1)
sets = set(tup)
print(sets)

{1, 2, 3, 4, 5, 6}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [8]:
def min_in_tup(tup):
    return min(tup)

def max_in_tup(tup):
    return max(tup)

def sum_of_tup(tup):
    return sum(tup)

sample_tup = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tup(sample_tup)}")
print(f"Maximum: {max_in_tup(sample_tup)}")
print(f"Sum: {sum_of_tup(sample_tup)}")

Minimum: 1
Maximum: 5
Sum: 15